<article class="newTutorials">
    <h2>Neue Tutorials</h2>
    <ul>
      <li>Node.js Schnelleinstieg 27.04.2023 - Dauer: 2:30h</li>
      <li>HTML-5 Grundlagen 23.04.2023 - Dauer: 1:20h</li>
    </ul>
  </article>